<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobiai</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="/static/style_sandra.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="layout-item">
    <ul class="top-menu">
        <li class="logo">Sandros laisvalaikis</li>
        <li><a href="/sandra_gridas/">Home</a></li>
    </ul>
    </header>
    <main class="layout-item">
        <h1>Nesedėk namie</h1>
        <p>Nauji dalykai "veža" &#128525</p>
        <img src="/static/style_sandra/foto13.jpg">
    </main>
    <aside class="layout-item">
        <h3>Pasirinkimai</h3>
        <ul class="flex-list">
            <li><a href="/crazy/">Išeik iš komforto zonos</a></li>
            <li><a href="/kates/">Katės ir parodos</a></li>
            <li><a href="/foto/">Fotografavimas</a></li>
            <li><a href="/keliones/">Kelionės</a></li>
        </ul>
    </aside>
    <footer class="layout-item">
        <p>&copy; Sandra Krisiūnaitė</p>
    </footer>
</body>
</html>